@model IEnumerable<Tienda.Models.Producto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Index</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista Productos</h2>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Producto" asp-action="Upsert" class="btn btn-primary">Nuevo Producto</a>

        </div>
    </div>
    <br/>

    @if (Model.Count()>0)
    {
        <table class="table table-bordered table-stripe" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre Producto</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Tipo Aplicacion</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th >@item.NombreProducto</th>
                         <th >@item.Descripcion</th>
                          <th >@item.Precio</th>
                           <th >@item.Categoria.NombreCategoria</th>
                            <th >@item.TipoAplication.NombreAplicacion</th>
                        
                          <th class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Producto" asp-action="Upsert" asp-route-Id="@item.IdProducto" class="btn btn-primary mx-1">
                                <i class="fas fa-edit"> Editar</i>
                            </a> @*Edita el id *@
                            <a asp-controller="Producto" asp-action="Delete"  asp-route-Id="@item.IdProducto" class="btn btn-danger mx-1">
                                <i class="fas fa-trash"> Delete</i>
                            </a>

                        </div>
                    </th>
                    </tr>
                    
                }
            </tbody>

        </table>
    }
    else
    {
        <p>No hay registros de Productos</p>
    }
</div>
